{
    "enviar cuestionario": "enviar evaluación",
    "containerName": "repositorio",
    "containerNamePlural": "repositorios",

    "messages.Controllers.Repositories.SendRepositoryController.AlertSuccess": "¡El repositorio ha sido enviado exitosamente!",

    "messages.views.instructions.evaluators.text1": "en donde serán listados los repositorios que te pertenecen. Con el botón",
    "messages.views.instructions.evaluators.text2": "Revisa los repositorios",
    "messages.views.instructions.evaluators.text3" : "¿Cómo evaluar los repositorios?",

    "messages.views.instructions.users.text1":"del repositorio que desees",
    "messages.views.instructions.users.text2":"El repositorio fue <span class='text-success'><b>aceptada</b>",
    "messages.views.instructions.users.text3":"El repositorio",

    "messages.views.instructions.admins.text1": "los repositorios",

    "messages.views.livewire.evaluations.categories.questions.index.text1": "el repositorio",

    "messages.views.livewire.repositories.index.text1": "Este módulo permite listar los repositorios pertenecientes a los usuarios.",

    "messages.views.livewire.repositories.statistics.show.text1": "Estadisticas del repositorio",

    "messages.views.pdfs.evaluation.text1": " ",
    "messages.views.pdfs.evaluation.text2": " "
}
